/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --color-body-bg-light-theme: #f2f2f2;
  --color-dark: #262625;
  --color-medium-dark: #3b3b3b;
  --color-grey: #a2a2a2;
  --color-light-grey: #dadada;
  --color-white-grey: #f2f2f2;
  --color-orange-yellow: #ea9d45;
  --color-mild-purple: #d26fffff;
  --color-orange-red: #ea6045;
  --color-white: #ffffff;
  --font-size: 1.3rem;

  --font-barlow-condensed: 'Barlow Condensed', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

/* generic settings*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-body-bg-light-theme);
  padding: 0;
  margin: 0;
  font-family: var(--font-montserrat);
  color: var(--color-dark);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.4;
}

a {
  color: var(--color-orange-red);
}

a:hover {
  color: var(--color-orange-yellow);
  text-decoration: none;
}

/* COMMON, GENERAL STYLES*/
.calendar {
  background-color: var(--color-white-grey);
  max-width: 800px;
  padding: 1rem;
}

.skip-link {
  padding: 1rem;
  background-color: var(--color-white);
  position: absolute;
  transition: transform;
  transform: translatey(-200%);
}

.skip-link:focus {
  transform: translatey(0);
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

[class*='fa-'] {
  font-size: 150%;
}

.gradient-separator {
  background: linear-gradient(
    90deg,
    rgb(255, 172, 89) 16%,
    rgb(210, 111, 255) 90%
  );
  height: 2px;
}

.section__top-padding {
  padding-top: 4rem;
}

.section__bot-padding {
  padding-bottom: 4rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: var(--color-medium-dark);
  color: var(--color-white-grey);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-dark);
  color: var(--color-orange-red);
}

/* intro section styles*/
.intro {
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro__wrapper--image-wrapper {
  width: 200px;
}

.intro__profile-img {
  display: block;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
  border-radius: 6px;
}

.intro__text {
  max-width: 600px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: var(--font-montserrat);
}

.intro__name {
  font-weight: 700;
  display: block;
  line-height: 1.2;
  font-size: 2.5rem;
  color: var(--color-orange-red);
  font-family: var(--font-barlow-condensed);
}

.intro__heading {
  line-height: 1;
  font-size: 1rem;
  font-weight: var(--font-montserrat);
  margin: 0 0 1rem;
  padding: 0;
}

@media screen and (min-width: 620px) {
  .intro__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .intro__wrapper--image-wrapper {
    width: 360px;
    order: 1;
    margin-left: auto;
  }

  .intro__name {
    font-size: 5rem;
  }

  .intro__heading {
    font-size: 1.5rem;
  }

  .intro__text {
    font-size: 1.2rem;
  }
}

/* HEADER*/

header {
  background-color: var(--color-light-grey);
}

.heading {
  padding: 0;
  margin: 0;
}

.main-heading a {
  font-family: var(--font-montserrat);
}

/* NAVBAR*/
nav {
  font-family: var(--font-barlow-condensed);
  font-size: 100%;
  padding: 1rem 0;
}

.nav__main-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: var(--color-medium-dark);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav a:focus {
  color: var(--color-orange-red);
  text-decoration: underline;
}

@media (min-width: 1000px) {
  nav {
    padding: 1rem 1rem;
  }

  .nav__main-nav > li {
    flex: 1;
    text-align: center;
  }

  .nav__main-nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  .nav__main-nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

@media screen and (min-width: 620px) {
  .nav__main-nav {
    justify-content: space-between;
  }
}

/* PROJECTS*/

.section__projects {
  background-color: var(--color-light-grey);
}

.projects__list {
  display: block;
}

.projects__heading {
  text-align: center;
  color: var(--color-medium-dark);
  font-size: 1.5rem;
  font-family: var(--font-barlow-condensed);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.projects__subheading {
  text-align: center;
  margin-bottom: 1rem;
}

.project__item-card {
  text-decoration: none;
  padding: 1rem 1rem;
  display: block;
}

.projects__item {
  background-color: var(--color-white-grey);
  max-width: 360px;
  margin: 0 auto;

  box-shadow: 0 1px 1px 1px rgba(140, 140, 140, 0.55);
  border-radius: 8px;
}

.projects__item + .projects__item {
  margin-top: 2rem;
}

.projects__item-img {
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.project__descr {
  font-size: 0.8rem;
  color: var(--color-dark);
}

.project__tech-used {
  text-align: center;
  color: var(--color-dark);
  margin: 0 0 1rem;
  font-size: 1rem;
}

.project__tech-used-list {
  color: var(--color-orange-red);
  display: flex;
  gap: 4px;
  font-size: 0.8rem;
  justify-content: space-around;
}

.projects__item-title {
  text-align: right;
  color: var(--color-dark);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

@media screen and (min-width: 620px) {
  .projects__heading {
    font-size: 4rem;
  }

  .projects__item {
    background-color: var(--color-white-grey);
    margin: 0 auto;
    box-shadow: 0 1px 1px 1px rgba(140, 140, 140, 0.55);
    border-radius: 8px;
  }

  .projects__list {
    margin-top: 0;
  }

  .projects__item-img--wrapper {
    max-width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@media screen and (min-width: 1000px) {
  .projects__heading {
    font-size: 4rem;
  }

  .projects__item {
    flex-basis: 32%;
    margin: 0;
    gap: 2%;
    height: auto;
  }

  .projects__list {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: 0;
  }

  .projects__item + .projects__item {
    margin-top: 0;
  }

  .projects__item-img--wrapper {
    width: 280px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .projects__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .project__descr {
    min-height: 80px;
    margin-bottom: 1rem;
  }
}

/* CONTACT*/

.section--contact {
  background-color: var(--color-medium-dark);
}

.contact__wrapper {
  max-width: 600px;
  width: 100%;
  height: auto;
  font-family: var(--font-montserrat);
  text-align: center;
}

.contact__heading {
  font-family: var(--font-barlow-condensed);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-white);
  margin: 0;
}

.contact__text {
  color: var(--color-light-grey);
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.email-me__link {
  font-family: var(--font-barlow-condensed);
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (min-width: 620px) {
  .contact__wrapper {
    margin: 0 auto;
  }
}

/* FOOTER*/

footer {
  background-color: var(--color-dark);
}

.footer__wrapper {
  color: var(--color-white);
  text-align: center;
  padding: 1rem;
}

small {
  color: var(--color-grey);
  display: block;
  font-size: 0.7rem;
  margin-top: 10px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-list a {
  color: var(--color-grey);
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--color-orange-red);
}

@media screen and (min-width: 620px) {
  .footer-list {
    justify-content: center;
    gap: 6rem;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background: var(--color-dark);
  }

  nav a {
    color: var(--color-white);
  }

  nav a:hover,
  nav a:focus {
    color: var(--color-orange-yellow);
  }

  .button:hover {
    background: var(--color-orange-yellow);
    color: var(--color-white);
  }

  .section__intro {
    background-color: var(--color-medium-dark);
    color: var(--color-white-grey);
  }

  .intro__name {
    color: var(--color-orange-yellow);
  }

  .section__projects {
    background-color: var(--color-grey);
  }

  .projects__heading {
    color: var(--color-white);
  }

  .projects__item {
    background-color: var(--color-dark);
  }

  .projects__item-title {
    color: var(--color-orange-yellow);
  }

  .project__descr {
    color: var(--color-white);
  }

  .project__tech-used {
    color: var(--color-orange-yellow);
  }

  .project__tech-used-list {
    color: var(--color-white);
    font-weight: 700;
  }

  .footer-list a:hover,
  .footer-list a:focus {
    color: var(--color-orange-yellow);
  }
}

/* ABOUT PAGE STYLES*/

.about__heading {
  margin-bottom: 2rem;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.about__techniques-item + .about__techniques-item {
  margin-top: 1rem;
}
